pyamidict/pyamidict/resources/openvirusschematron.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <pattern>
      <rule context="dictionary">
        <assert test="@title">dictionary must have a title</assert>
        <assert test="count(entry)&gt;0">dictionary must have atleast one entry</assert>
        <!--<assert test='@xml-lang'>dictionary must have xml-lang attribute</assert>-->
        
      </rule>
      <rule context='entry'>
          <assert test="count(@wikidataURL)&gt;0">Every entry must have a wikidataURL</assert>
          <assert test="count(@description)&gt;0">Every entry must have description</assert>
          <assert test="count(@name)&gt;0">Every entry must have name</assert>
          <assert test="count(@term)&gt;0">Every entry must have term</assert>
          <assert test="count(@wikidataID)&gt;0">Every entry must have wikidataID</assert>
          <!--<assert test="count(synonym)&gt;0">Every entry must have a synonym</assert>-->
  
      </rule>
      <!--
      <rule context='metadata'>
          <assert test='None'></assert>
      </rule>
      <rule context='synonym'>
          <assert test="@xml-lang">synonym must have xml-lang attribute</assert>
      </rule>
      <rule context='description'>
          <assert test="@xml-lang">description must have xml-lang</assert>
      </rule>-->
    </pattern>
</schema>
