pythoncode/pyamidict/resources/openVirus_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>

  <xs:element name="dictionary">

    <xs:complexType>

      <xs:sequence>
<!-- mandatory metadata , note "desc" has been obsoleted and removed-->
        <xs:element type="xs:string" name="metadata" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="optional"/>
					<!--
                    <xs:attribute type="xs:string" name="date" use="optional"/>
						-->
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
		</xs:element>

<!-- mandatory entry children -->
        <xs:element name="entry" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>

<!-- optionl repeatable description (includes xml:lang variants -->
              <xs:element name="description" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute ref="xml:lang" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

<!-- optionl repeatable synonym (includes xml:lang variants -->
              <xs:element name="synonym" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute ref="xml:lang" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

<!-- Wikidatab Properties -->
            <xs:attribute type="xs:string" name="_p31_instanceOf" use="optional">
            </xs:attribute>

<!-- mandatory attributes -->
            <xs:attribute type="xs:string" name="description" xml:lang="en"/>

            <xs:attribute type="xs:string" name="name" xml:lang="en"/>

            <xs:attribute type="xs:string" name="term" xml:lang="en"/>

<!-- Wikimedia links -->
            <xs:attribute name="wikidataURL" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="http(s?):\/\/.*\.wikidata\.org\/(wiki|entity)\/[P|Q][0-9]+"/>
				  <!--
                  <xs:pattern value="http(s?):.*\.wikidata\.org/wiki/[P|Q][0-9]+"/>
					  -->
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

            <xs:attribute  name="wikipediaPage" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\s]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

            <xs:attribute  name="wikipediaURL" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="http(s?):.*[a-z]+\.wikipedia\.org/wiki/.+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="wikidataID" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="[Q|P]\d+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

<!-- optional ID -->
            <xs:attribute type="xs:string" name="id" use="optional">
            </xs:attribute>

          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <!-- mandatory title -->
            <xs:attribute type="xs:string" name="title">
            </xs:attribute>

    </xs:complexType>
  </xs:element>
</xs:schema>
